# KYC Verification

What is KYC and why is it important?

### **What is KYC?** <a href="#what-is-kyc" id="what-is-kyc"></a>

KYC is an abbreviation for "Know Your Customer". KYC identifies customers and verifies their details to comply with global regulations, including anti-money laundering and counter-terrorism financing laws. The overarching goal of the KYC process in crypto is to prevent individuals or companies from using the asset class to commit financial crimes.

***

### KYC on the Marketplace <a href="#title-text" id="title-text"></a>

**KYC** on the marketplace **is optional** until you start bidding $10,000 or higher. The limit on a marketplace requires you to undergo KYC if you want to bid higher than **$10,000** worth of **$ALICE**.

KYC will be conducted via a partner provider, **blockpass.org**. The process is quick and easy, so follow the instructions on your screen. Once the verification is completed, you can place bids over **$10,000**.

![](https://docs.myneighboralice.com/\~gitbook/image?url=https:%2F%2F1569250206-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252FXck6SHo8BKdm45wALVA1%252Fuploads%252Frw1QqStv7yqe6b6iXYLx%252F1%2520%287%29.png%3Falt=media%26token=0730c650-0a30-4c8f-bca1-d961eabe3fe6\&width=768\&dpr=4\&quality=100\&sign=ab22d75c03b349d84b63a44e0d401771d0d5d033180b5c2e6487594db2fb2ea4)
